<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>2a97a018-9b38-4018-b657-b8f1eb58b0d1</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cxIF4D99eVhrHpXLYDSW7mRr0dal0CZe52DFBPWd</string>
	<key>PROJECT_APP_UUID</key>
	<string>4bece137-b341-4faf-ae8c-72e825145d0c</string>
</dict>
</plist>
